flask
flask-cors
flask-bcrypt
flask-jwt-extended
python-dotenv
werkzeug
mysql-connector-python
flask-limiter
cryptography
pydantic
requests
gunicorn
google-genai
gevent
gevent-websocket
python-socketio
python-engineio
flask-socketio
eventlet
razorpay
