flask
flask-cors
flask-bcrypt
flask-jwt-extended
python-dotenv
werkzeug
mysql-connector-python
flask-limiter
cryptography
pydantic
requests
gunicorn
google-generativeai
flask-socketio
eventlet
razorpay
